<form method="post"  action="/login">
    <div id="form-login">
        <h2>login</h2>
        <ul style="list-style-type:none;">
            <li><input type="text" id="username" placeholder="User Name"/></li>
            <li><input type="password" id="password" placeholder="Password" /></li>
        </ul>
        <input type="submit">
    </div>
</form>