<form method="post"  action="/signup">
    <div id="form-login">
        <h2>sign up</h2>
        <ul style="list-style-type:none;">
            <li><input type="text"  name= "username" id="username" placeholder="User Name"/></li>
            <li><input type="password" name="password" id="password" placeholder="Password" /></li>
        </ul>
        <input type="submit">
    </div>
</form>